.cbanner {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.cbanner-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
